@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
}

.writing-vertical-rl {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}